* {
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img {
    height: 50vh;
}

#cat {
    height: 100%;
    border-radius: 10%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1, .main button {
    margin: 5% 0;
}

.main button {
    border: none;
    background-color: rgb(114, 21, 219);
    padding: 10px;
    border-radius: 10px;
    font-size: 22px;
}

.main button:hover{
    cursor: pointer;
}